.header-logo
	padding: 15px 0

.dropdown-user
	display: inline-block
	float: right
	margin-top: 22px
	color: white
	button
		border: none
		background: none
.task-section
	.task:first-of-type
		margin-top: 0
	.task
		border-radius: 3em
		background-color: #4285f4
		color: white
		margin-top: 10px
		.ion-volume-medium
			margin-right: 1em
		.ion-arrow-down-b
			font-size: 17px
			color: white
		.ion-arrow-up-b
			font-size: 17px
			color: white
		.name
			display: inline-block
		.time
			display: inline-block
			font-family: "montserrat"
			font-weight: 400
			margin-top: 2px
		.ion-chevron-down
			float: right
			margin-right: 25px
			margin-top: 2px
		&.subtask-shown
			border-radius: 17px
		.subtasks
			ul
				padding-left: 10px
				line-height: 2



.client-info
	padding: 10px 20px
	border: 1px solid #eceff1
	.info-section
		position: relative
		padding-top: 20px
		.info-title
			display: block
			width: 20%
			margin-bottom: 0
			color: #d2d2d2
			display: inline-block
		.info
			display: inline-block
			position: absolute
			top: 20px
			right: 0
			color: #525252

// .task-section, .client-section, .calendar-section
// 	border: solid #ddd 1px

.datepicker table tr td.active:hover
	background: inherit !important

.header .dropdown-menu
	left: initial

// Client_create Popup
.modal.create_client
	.language
		select
			width: 100%
			padding: 10px 10px
	.modal-content:before
		content: ""
		display: block
		width: 100%
	.modal-dialog
		border-radius: 0
	.modal-header
		background-color: #ff9801
		border-bottom: 0
		color: #ffffff
		.close
			color: #ffffff
	.modal-footer
		border-top: 0
		text-align: left
		.btn.cancel
			border: none
			background: none
			box-shadow: none
		button[type="submit"]
			background: #ff9700
			border-radius: 360px
			padding: 10px 20px
			border: none
			.ion-plus
				margin-right: .5em
				font-size: 15px
.modal-content.create_client
	border-radius: 0
	input
		box-shadow: none
		border-radius: 0
		border: #d2d2d2 solid 1px
	label:not(.radio-inline)
		text-transform: uppercase
	label
		color: #979797

// Errors styling
.success
	position: absolute
	top: 10%
	width: 30%
	left: calc(50% - 15%)
	padding: 10px 20px
	background-color: #51dd51
	color: white
	border-radius: 10px
	z-index: 100
	display: inline-block
	@media(max-width: 1600px)
		width: 35%
		left: calc(50% - 18%)
	@media(max-width: 1024px)
		width: 40%
		left: calc(50% - 20%)
	.ion-close
		cursor: pointer
		float: right
.errors
	position: absolute
	top: 10%
	width: 20%
	left: calc(50% - 10%)
	padding: 10px 20px
	background-color: #dd5151
	color: white
	border-radius: 10px
	z-index: 100
	display: inline-block
	@media(max-width: 1600px)
		width: 35%
		left: calc(50% - 18%)
	@media(max-width: 1024px)
		width: 40%
		left: calc(50% - 20%)
	.ion-close
		cursor: pointer
		float: right
.secundairy_supervisor
	margin-top: 15px
