.header {
    background-color: #62BCA9;
    width: 100%;
    .title {
        color: #ffffff;
        font-family: 'Montserrat-light',arial;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 5px;
        .ion-ios-gear {
            float: right;
            margin-right: 30px;
        }
    }
}
.client-section, .task-section, .calendar-section {
    margin-top: 30px;
}


.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active{
    background-color: #CDEEFD !important;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover{
    background-color: #CDEEFD !important;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.datepicker table tr td.today{
    background-color: #d2d2d2 !important;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.datepicker table tr td.today:hover{
    background-color: #d2d2d2 !important;
    border-bottom: 1px solid #d2d2d2 !important;
    border-right: 1px solid #d2d2d2 !important;
}

.datepicker table tr td.today:after{
    background-color: #e91e63;
    border-bottom: 1px solid #d2d2d2 !important;
    border-right: 1px solid #d2d2d2 !important;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    border-radius: 0px !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
    display: none !important;
}

a:hover { text-decoration:none; }

input[type="search"] {
    border-radius:0;
    box-shadow:none;
    border: 1px solid #eceff1;

    &:focus {
        border: 1px solid #eceff1;
        box-shadow:none !important;
    }
}

/* POP UP */

#step_preferences, #task_preferences, #delete {
    cursor: pointer;
}
#overlay {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.7;
    z-index:99999;
}

#popup_delete {
    display:none;
    left:30%;
    top:10%;
    position: fixed; max-width: 550px; width: 100%; max-height: 140px; height: 100%; background-color: #ab47bc;
    z-index:100000;
}

#popup_step {

    display:none;
    left:30%;
    top:10%;
    position: fixed; max-width: 550px; width: 100%; max-height: 290px; height: 100%; background-color: #ab47bc;
    z-index:100000;
}

#popup_task {

    display:none;
    left:30%;
    top:10%;
    position: fixed; max-width: 550px; width: 100%; max-height: 290px; height: 100%; background-color: #ab47bc;
    z-index:100000;
}

#popup_secundairy { display:none;
    left:30%;
    top:10%;
    position: fixed; max-width: 550px; width: 100%; max-height: 320px; height: 100%; background-color: #ab47bc;
    z-index:100000; }

/* POP UP STEP PREFERENCES */

.step_header { position: relative; z-index: 10; max-width: 550px; width: 100%; max-height: 40px; background-color: #ab47bc; }
.step_bg { position: relative; z-index: 10; padding-top: 20px; max-width: 550px; width: 100%; max-height: 290px; height: 100%; background-color: white; }
.step_options { width: 90%;  margin: 0 auto; display: table; }
.step_left::before { position: relative; top: 3px; content: url(img/paars_vinkje.png); }
.step_right::before { position: relative; top: 3px; content: url(img/paars_kruisje.png); }
.sluit { margin-top: -30px; height: 40px; margin-right: 15px; cursor: pointer; }

.step_description { width: 50%; height:100px; display: table-cell; float: left;}
.step_icon { width: 50%; height:100px; display: table-cell; float: left; margin-top: 10px;}
.description { width: 100%; height: 50%; font-family: 'Montserrat-light'; font-weight: 100; text-align: left; font-size: 13px; color: #707070;  }
.step_time { width: 40%; height:100px; display: table-cell; float: right; }
.step_sound { width: 16%; height:100px; margin-top: 10px; display: table-cell; float: right; }
.step_timer { width: 16%; height:100px; margin-top: 10px; display: table-cell; float: right; }
.step_copy { width: 16%; height:100px; margin-top: 10px; display: table-cell; float: right;  }.timer_dropdown { width: 150px; height: 30px; border-radius: 50px; -webkit-appearance: none; cursor: pointer; padding-left: 15px; background-color: #ab47bc; border: 0; font-family: 'Montserrat-light'; font-weight: 100; color: white; font-size: 13px; }
a { color: #424242; }
.ion-ios-copy { font-size: 35px; }

p.timer { font-family: 'Montserrat-light'; font-weight: 100; text-align: left; font-size: 11px; color: #707070; }
h4.step_content_popup { font-family: 'Montserrat-light'; font-weight: 100; line-height: 20px; text-align: left; font-size: 15px; color: #707070; }
h3.title_step_popup { font-family: 'Montserrat-light'; font-weight: 200; text-align: left; margin-left: 25px; font-size: 18px; color: white; }
h4.step_left { font-family: 'Montserrat-light'; font-weight: 100; float: left; color: #707070; cursor: pointer;  }
h4.step_right { font-family: 'Montserrat-light'; font-weight: 100; float: right; color: #707070;  cursor: pointer; }
h3.sluit { font-family: 'Montserrat-light'; font-weight: 200; text-align: right; font-size: 18px; color: white; }

/* on/off sound switch */
.onoffswitch { position: relative; width: 55px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
.onoffswitch-checkbox { display: none; }
.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; height: 30px; padding: 0; line-height: 30px; border: 2px solid #CCCCCC; border-radius: 30px; background-color: #EBEBEB; transition: background-color 0.3s ease-in; }
.onoffswitch-label:before { content: url(../images/vinkje.png); display: block; width: 30px; margin: 0px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 28px; border: 2px solid #CCCCCC; border-radius: 30px; transition: all 0.3s ease-in 0s;  }
.onoffswitch-checkbox:checked + .onoffswitch-label { background-color: #AB47BC; }
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before { border-color: #AB47BC; }
.onoffswitch-checkbox:checked + .onoffswitch-label:before { right: 0px;  }

/* on/off timer switch */
.onoffswitch { position: relative; width: 60px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
.onoffswitch-checkbox { display: none; }
.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; height: 30px; padding: 0; line-height: 30px; border: 2px solid #CCCCCC; border-radius: 30px; background-color: #EBEBEB; transition: background-color 0.3s ease-in; }
.onoffswitch-label:before { content: url(img/vinkje.png); display: block; width: 30px; margin: 0px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 28px; border: 2px solid #CCCCCC; border-radius: 30px; transition: all 0.3s ease-in 0s;  }
.onoffswitch-checkbox:checked + .onoffswitch-label { background-color: #AB47BC; }
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before { border-color: #AB47BC; }
.onoffswitch-checkbox:checked + .onoffswitch-label:before { right: 0px;  }


/* END STEP PREFERENCES POP UP*/

/* TASK PREFERENCES POP UP */

.task_header { position: relative; z-index: 10; max-width: 550px; width: 100%; max-height: 40px; background-color: #ab47bc; }
.task_bg { position: relative; z-index: 10; padding-top: 10px; max-width: 550px; width: 100%; max-height: 280px; height: 100%; background-color: white; }
.task_options { width: 90%;  margin: 0 auto; display: table; }
.task_description { width: 50%; height:100px; display: table-cell; float: left;}
.task_color { width: 50%; height:100px; display: table-cell; float: left; margin-top: 10px;}
.color_row { height: 15px; }
.description { width: 100%; height: 50%; font-family: 'Montserrat-light'; font-weight: 100; text-align: left; font-size: 13px; color: #707070;  }
.task_repeat {  width: 40%; height:75px; display: table-cell; float: right; }
h4.task_content_popup { font-family: 'Montserrat-light'; font-weight: 100; line-height: 10px; text-align: left; font-size: 15px; color: #707070; }
h3.title_task_popup { font-family: 'Montserrat-light'; font-weight: 200; text-align: left; margin-left: 25px; font-size: 18px; color: white; }
h4.task_left { font-family: 'Montserrat-light'; font-weight: 100; float: left; color: #707070; cursor: pointer;  }
h4.task_right { font-family: 'Montserrat-light'; font-weight: 100; float: right; color: #707070;  cursor: pointer; }
.task_sound { width: 20%; height:100px; display: table-cell; float: right; }
.task_copy { width: 20%; height:100px; display: table-cell; float: right;  }
.ion-printer { font-size: 35px; }

/* END TASK PREFERENCES POP UP */



/* delete pop up */
.delete_popup { height: 100px; }
.delete_header { position: relative; z-index: 10; max-width: 550px; width: 100%; max-height: 40px; background-color: #ab47bc; }
.delete_bg { position: relative; z-index: 10; padding-top: 10px; max-width: 550px; width: 100%; max-height: 80px; height: 100%; background-color: white; }
.delete_options { width:80%; height: 10px; margin: 8px auto;}
h4.delete_left { font-family: 'Montserrat-light'; float: left; color: #707070; cursor: pointer; font-size: 16px; }
h4.delete_right { font-family: 'Montserrat-light'; float: right; color: #707070;  cursor: pointer; font-size: 16px; }
.delete_left::before { position: relative; top: 5px; content: url(../images/paars_vinkje.png); margin-right: 7px; }
.delete_right::before { position: relative; top: 5px; content: url(../images/paars_kruisje.png); margin-right: 7px; }
h3.title_popup { font-family: 'Montserrat-light'; font-weight: 200; text-align: center; font-size: 18px; color: white; }


/* secundairy supervisor pop up */
.secundairy_supervisor { cursor: pointer; }
.secundairy_popup { position: absolute; max-width: 550px; width: 100%; max-height: 320px; height: 100%; background-color: #ff9800; }
.secundairy_header { position: relative; z-index: 10; max-width: 550px; width: 100%; max-height: 40px; background-color: #ff9800; }
.secundairy_bg { position: relative; z-index: 10; padding-top: 30px; max-width: 550px; width: 100%; max-height: 320px; height: 100%; background-color: white; }
.secundairy_options { width: 90%;  margin: 0 auto; display: table; }
.secundairy_form { width: 100%; margin-bottom: 20px; }
h4.secundairy_content_popup { font-family: 'Montserrat-light'; font-weight: 100; line-height: 0; font-size: 12px; color: #707070; }
h4.secundairy_content_popup.cancel { cursor: pointer; margin-left: 5%; margin-top: 10%; float:left; }
h3.title_secundairy_popup { font-family: 'Montserrat-light'; font-weight: 200; text-align: left; margin-left: 25px; font-size: 18px; color: white; }
.button_secundairy {  width: 160px; height: 20px; border-radius: 50px; cursor: pointer; float: left; padding: 10px 10px 28px 30px; background-color: #ff9800; border: 0; font-family: 'Montserrat-light'; font-weight: 100; color: white; font-size: 13px;  }
/* end secundairy supervisor pop up*/

/* primairy supervisor pop up */
.popup_primairy { display: block; margin: 0 auto; width: 100%; max-width: 550px; height: 520px; }
.primairy_popup { position: absolute; max-width: 550px; width: 100%; max-height: 520px; height: 100%; background-color: #ff9800; }
.primairy_header { position: relative; z-index: 10; max-width: 550px; width: 100%; max-height: 40px; background-color: #ff9800; }
.primairy_bg { position: relative; z-index: 10; padding-top: 10px; max-width: 550px; width: 100%; max-height: 600px; height: 100%; background-color: white; }
.primairy_options { width: 90%;  margin: 30px auto; display: table; }
.primairy_form { width: 100%; height: 20px; }
p.add_option { cursor: pointer; line-height: 0;  font-family: 'Montserrat-light'; font-weight: 100; text-align: left; font-size: 11px; color: #707070; }
h4.primairy_content_popup { font-family: 'Montserrat-light'; font-weight: 100; line-height: 0; font-size: 12px; color: #707070; }
h4.primairy_content_popup.cancel { cursor: pointer; margin-left: 5%; margin-top: 4%; float: left; }
h3.title_primairy_popup { font-family: 'Montserrat-light'; font-weight: 200; text-align: left; margin-left: 25px; font-size: 18px; color: white; }
.button_primairy {  width: 140px; height: 36px; border-radius: 50px; cursor: pointer; float: left;  background-color: #ff9800; border: 0; font-family: 'Montserrat-light'; font-weight: 100; color: white; font-size: 13px;  }
/* end primairy supervisor pop up */

/* icon */
.icon { position: relative; }
.icon_img { float: left; width: 21%; margin-top: 10px; }
ul { list-style: none; }
.task-section .task .subtasks { padding: 0px; }
.col-md-10 { width: 62%; height: 60px; }
.step { line-height: 17px; margin-top: 18px; }
.task .subtasks .step_preferences { margin-top: 14px; }