body * {
  font-family: "montserrat-light"; }

body .logo {
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 30px; }

body input[type="text"] {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  padding-left: 15px;
  border: solid 1px #929294;
  font-size: 20px;
  color: #4285F4; }

body input[type="password"] {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  padding-left: 15px;
  border: solid 1px #929294;
  font-size: 20px; }

body input[type="submit"] {
  width: 100%;
  padding: 18px;
  background-color: #4285f4;
  border: none;
  box-shadow: none;
  color: white;
  margin-top: 30px;
  border-radius: 360px; }
  body input[type="submit"]:hover {
    background: #4285f4;
    text-decoration: none; }

body a.forgot-password {
  margin-top: 10px;
  display: inline-block; }

body i.showpass {
  position: absolute;
  font-size: 29px;
  top: calc(50% - 0px);
  right: 35px;
  color: #787878;
  cursor: pointer; }
  body i.showpass.login {
    top: calc(50% - 0px); }

body p.sign-up-text {
  margin-top: 15px;
  text-align: center; }

body .login-text {
  margin-top: 20px; }
  body .login-text .align-right {
    text-align: right; }

body .auth {
  margin-top: 30px; }

input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder, input::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: "montserrat-light";
  font-size: 14px !important; }

input[type="password"] {
  font-size: 40px !important;
  color: #4285F4; }

input:focus {
  outline: none !important;
  border: 1px solid #4285f4 !important; }

input[type="password"]::-moz-placeholder {
  font-size: 20px !important;
  position: relative;
  top: -10px; }

input[type="password"]:-ms-input-placeholder {
  font-size: 20px !important;
  position: relative;
  top: -10px; }

input[type="password"]:-moz-placeholder {
  font-size: 20px !important;
  position: relative;
  top: -10px; }

input[type="password"]::-webkit-input-placeholder {
  font-size: 20px !important;
  position: relative;
  top: -10px; }

.success {
  position: absolute;
  top: 10%;
  width: 20%;
  left: calc(50% - 10%);
  padding: 10px 20px;
  background-color: #51dd51;
  color: white;
  border-radius: 10px;
  z-index: 100;
  display: inline-block; }
  .success .ion-close {
    cursor: pointer;
    float: right; }

.errors {
  position: absolute;
  top: 10%;
  width: 20%;
  left: calc(50% - 10%);
  padding: 10px 20px;
  background-color: #dd5151;
  color: white;
  border-radius: 10px;
  z-index: 100;
  display: inline-block; }
  .errors .ion-close {
    cursor: pointer;
    float: right; }
