.submit-button {
    background-color: #e91e63;
    border-radius: 360px;
    padding: 5px 0;
    width: 41%;
    display: inline-block;
    margin-left: 28%;
    margin-top:20px;
    text-align: center;
    font-size: 14px;
    border:none !important;
    color:#fff;
}
.submit-button:hover {
    color:#fff;
    background-color: #bb1950;
}
.submit-button:focus{
    color:#fff;
    text-decoration: none;
}	

.info-section{
	border-bottom: solid 1px #d6d6d6;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}
.info-title{
	display: block;
	width: 20%;
	margin-bottom: 0;
	color: #aaaaaa;
	text-transform: uppercase;
	font-size: 10px;
}
.info{
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 0;
	color: #525252;
	font-weight: bold;
	padding-bottom: 12px;
}