@font-face {
	font-family: "montserrat-black";
	src: url('/assets/fonts/montserrat/black.otf');
}
@font-face {
	font-family: "montserrat-bold";
	src: url('/assets/fonts/montserrat/bold.otf');
}
@font-face {
	font-family: "montserrat-extra-bold";
	src: url('/assets/fonts/montserrat/extra-bold.otf');
}
@font-face {
	font-family: "montserrat-hairline";
	src: url('/assets/fonts/montserrat/hairline.otf');
}
@font-face {
	font-family: "montserrat-light";
	src: url('/assets/fonts/montserrat/light.otf');
}
@font-face {
	font-family: "montserrat-regular";
	src: url('/assets/fonts/montserrat/regular.otf');
}
@font-face {
	font-family: "montserrat-semibold";
	src: url('/assets/fonts/montserrat/semibold.otf');
}
@font-face {
	font-family: "montserrat-ultralight";
	src: url('/assets/fonts/montserrat/ultralight.otf');
}