/*Tasks*/
.task-section{
	ul#search-results{
		padding-left:1.5em;
		li.search-result{
			text-transform: capitalize;
    		padding: 0.5em;
    		.ion-plus-round{
    			float: right;
    			padding-right: 0.5em;
    			color:#e91e63;
    			cursor: pointer;
    		}
		}
	}
	form{
		.form-control{
			&:focus{
			    border-color: #e91e63;
			    outline: 0;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 30, 99, 0.6);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 30, 99, 0.6);
			}
		}
	}
	.task{
	    display: inline-block;
	    width: 100%;
	    padding: 0.5em 0;
	    border-radius: 4px;
	    background-color:#4285f4 !important;
	    div{
	    	.time{
	    		font-weight: bold;
	    	}
	    	.name{
	    		padding-left: 0.5em;
	    	}
	    	&.col-md-4{
	    		text-align: right;
	    		padding-right: 25px;
		    	i.ion-volume-medium{
	    		    cursor: pointer;
		    	}
		    	i.ion-close-round{
	    		    color: #D60A0A;
    				cursor: pointer;
		    	}
		    	i.ion-arrow-down-b{
	    		    cursor: pointer;
				    margin-left: 1em;
		    	}
	    	}
	    }
	}
}
	
.client-info{
	.info-section{
		&:last-child{
			margin-bottom: 20px;
		}
		.info{
			border: none;
		    background: none;
		    text-align: right;
	        bottom: 8px;
	        padding-bottom:2px !important;
	        top: inherit !important;
	        &input{
		   		width: 50%;
		    }
	        &:active{
	        	outline:0px !important;
	        }
	        &:focus{
	        	outline:0px !important;
	        }
		}
		.info-title{
			width:50% !important;
		}
	}
}
.datepicker-days{
	.table-condensed {
		thead{
			tr{
				th{
					padding-bottom:inherit;
				}
			}
		}
		tbody{
			tr{
				td{
				    padding-top: 0;
    				padding-left: 10px;
				}
			}
		}
	}
}

.dropdown-menu{
	z-index:9999 !important;
}

#add-subtask{
	width: 5%;
    text-align: center;
    cursor: pointer;
    padding-right:2px;
}

.non-full{
	width:94%;
}

div.subtask-create{
	input.create-subtask{
		width:94% !important;
		display:inline-block;
	    margin-bottom: 1em;
	    &:last{
	    	margin-bottom:0;
	    }
	}
	i.delete-subtask{
		width: 5%;
	    display: inline-block;
	    text-align: center;
	    cursor: pointer;
	}
}

.open>.dropdown-menu{
    left: initial !important;
    right: 0 !important;
}

.save-client{
    text-align: right;
    padding: 0.5em 0;
	input[type="submit"]{
		border: none;
    	background: transparent;
	}
}

.task{
	padding:0 !important;
	.task-icons{
        padding: 5px 2em;
        cursor: pointer;
	}
	&.subtask-shown{
	    border-bottom-left-radius: 5em;
	    border-bottom-right-radius: 5em;
		.subtasks{
			background-color: white !important;
		    color: #615757 !important;
		    border-left: #4285f4 solid 1px !important;
		    border-right: #4285f4 solid 1px !important;
		    border-bottom: #4285f4 solid 1px !important;
		}
		ul{
			display: inline-block;
		}
		.add-task-button{
		    width: 100%;
		    background: #4285f4;
	        border-bottom-left-radius: 17px;
    		border-bottom-right-radius: 17px;
		    display: inline-block;
		    text-align: center;
		    padding-top: 2px;
		    padding-bottom: 2px;
		    button{
	    	    border: none;
			    background: none;
		        padding:5px;
		    }
		}
		.options{
		    display: inline-block;
		    height: 5em;
		    padding-top: 8px;
		    background: white;
		    border: #4285f4 solid 1px !important;
		    color: #615757 !important;
			.option{
			    display: inline-block;
				text-align: center;
				i{
				    text-align: center;
	    			font-size: 1.5em;
	    			display:block;
	    			margin-right:0 !important;
				}
				span{
					text-align: center;
				}
			}
		}
	}
	.add-task-button{
		display: none;
	}
	.option{
		display:none;
	}
	.task-info{
	    padding: 5px 2em;
	    cursor: pointer;
	}
	.subtasks{
		.step_preferences{
			list-style: none;
			.ion-android-settings{
				cursor: pointer;
			}
		}
	}
}

.button-submit{
    background-color: #e91e63;
    border-radius: 360px;
    padding: 5px 0;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    border: none !important;
    color: #fff;
    width:49%;
    cursor: pointer;
    &.task-button{
    	display: block !important;
    	margin:0 auto;
    }
    &:hover, &:active, &:focus{
	    color: #fff;
    	background-color: #bb1950;
    }
}
.new-task-window{
	width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 1em 0em;
    height: auto;
    border: 1px solid #eceff1;
}
.add-client{
	&:hover{
		color: #fff !important;
    	background-color: #bb1950 !important;
	}
}

#datetimepicker12{
	thead{
		tr{
			padding-bottom:1em;
		}
	}
}

p.no-tasks{
	padding-top: 1em;
    text-align: center;
}

.task_popup{
	.timer_dropdown{
		font-family: "montserrat-light" !important;
	}
}

.delete_popup{
	h3, h4{
		font-family: "montserrat-light" !important;
	}
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom{
	.table-condensed {
		tbody{
			tr{
				td{
					padding:0 !important;
				}
			}
		}
	}
}

.info-section.color{
	.info.colorpicker{
		right: 21px;
	}	
	span.input-group-addon{
		color: transparent;
	    border: none;
	    background: none;
	    position: relative;
	    bottom: -3px;
	    padding: 0;
	    i{
    	    border-radius: 24px;
	    }
	}
}

#popup_step{
	.step_time{
		float:left !important;
		padding-left:2em !important;
	}

	.step_bg{
		max-height: none !important;
	    height: initial !important;
	}

	.duplicate-step{
		h4{
		    padding-bottom: 0;
	    	margin-bottom: 0;
		}
		a{
			padding-left: 1em;
	    	display: block;
		}
	}
}

#popup_step{
	.step_options{
		.col-md-6.col-md-offset-6{
			padding-bottom:1em;
		}
	}
}

.button_primairy{
	font-family: "montserrat-light" !important;
}

.info-section.color{
	.info.colorpicker{
		visibility: hidden;
	}
}

.form-group.colour{
	input.colorpicker{
		display: none;
	}
	.input-group-addon{
		color: transparent;
	    border: none;
	    background: none;
	    position: relative;
	    bottom: -12px;
	    padding: 0;
	    float: left;
	    padding-top: 1em;
	    padding-bottom: 1em;
	    i{
    	    border-radius: 24px;
	    }
	}
}

#popup_task{
	.task_copy{
		h4{
			padding-bottom:0;
			margin-bottom:0;
		}
		a{
		    display: block;
		    top: -25px;
		    position: relative;
		}
	}
}

#popup_step{
	.step_options{
	    padding-bottom: 2em;
	}
	.timer_dropdown{
	    width: 160px;
	}
}

@media(max-width: 1280px){
	#task-list{
		.task{
			.task-info{
			    width: 92%;
			}
			.task-icons{
				width: 8%;
			}
			.options{
				width: 100%;
			}
		}
	}
	.subtasks{
		ul{
			padding:1em;
		}
		.icon_img{
			/*width:auto;*/
		}
		.subtask{
			max-width: none;
			/*width: inherit;*/
			height: inherit;
		}
	}
}