/*Client list*/
ul.client-list {
	  padding-left: 15px;
	  list-style: none;
	  width: 100%;
	  border-radius: 0;
	  box-shadow: none;
	  -webkit-box-shadow: none;
	  padding-bottom: 15px; }
ul.client-list .add-client-wrapper {
	  text-align: center; }
ul.client-list .add-client-wrapper .add-client {
      background-color: #e91e63;
      border-radius: 360px;
      padding: 5px 0;
      display: inline-block;
      text-align: center;
      color: white;
      font-size: 14px; 
		width: 49%;
  }
      
ul.client-list .add-client-wrapper .add-client .ion-plus {
      margin-right: .5em;
      font-size: 15px; }
ul.client-list a:hover {
     text-decoration: none; }
ul.client-list a.client {
     padding: 5px 0;
     display: inline-block;
     width: 100%; }
ul.client-list a.client:first-of-type {
     padding-top: 10px; }
ul.client-list a.client li {
     position: relative; }
ul.client-list a.client li .client-color-list {
     height: 30px;
     width: 30px;
     border-radius: 30px;
     display: inline-block;
     background-color: grey;
     float: left;
     clear: left; 
     margin-bottom: 18px;
 }

ul.client-list a.client li .client-name {
     display: block;
     font-family: 'Montserrat', arial;
     font-weight: 100;
     color: #313131;
     display: inline-block;
     position: relative;
     margin-top: 5px;
     padding-left: 15px; 
 }



 .client-section .client-list-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
  background: none;
  box-shadow: none;
  border: 1px solid #eceff1; }

.client-section .client-color {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  float: left;
  background-color: grey; }


.client-list-button p {
  margin-left: 	47px;
  margin-top: 5px;
  margin-bottom: -5px;

}

.client-list-button .caret {

	float: right;
	margin-top: -7px;
}