
a {
	color: #4285f4;
}


p{
	text-align: center;
}


input{
	padding: 8px;
	/*width: 400px;*/
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	color: 	#4285f4;
	/*border-color: #4285f4;*/
	border: 1px solid #ccc;
}
input[type=submit]{
	border-radius: 50px;
	color:#fff;
	background-color: #4285f4;
	border: 0px;
}

form{
	margin-top: 20px;
}


.container {
	margin-top: 10%;
}

.center-block {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	margin-right: 50px;
	text-align: center;
}



.image {
	height: 70%;
	width: 70%;
}


.row{
	margin-top: -100px;
}


footer {
/*	position:absolute;*/
	bottom:0;
    left:50%;
/*    margin-left:-100px;*/
    bottom:50px;
    color: #4285f4;
}


@media screen and (max-width: 992px) {


 .center-block {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	text-align: center;


    }
}

.success {
  position: absolute;
  top: 10%;
  width: 20%;
  left: calc(50% - 10%);
  padding: 10px 20px;
  background-color: #51dd51;
  color: white;
  border-radius: 10px;
  z-index: 100;
  display: inline-block; }
  .success .ion-close {
    cursor: pointer;
    float: right; }

.errors {
  position: absolute;
  top: 10%;
  width: 20%;
  left: calc(50% - 10%);
  padding: 10px 20px;
  background-color: #dd5151;
  color: white;
  border-radius: 10px;
  z-index: 100;
  display: inline-block; }
  .errors .ion-close {
    cursor: pointer;
    float: right; }


