body * {
	font-family: "montserrat-light";
	font-weight: 100;
}

.datepicker-days {
	padding-right: 20px;
	color: #313131;
}

.bootstrap-datetimepicker-widget table tr td.day {
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	height: 75px;
	font-size: 14px;
	text-align: left;
	width: 10%;
	position: relative;
	color: #313131;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
	background-color: none!important;
}


.bootstrap-datetimepicker-widget table td.prev, .bootstrap-datetimepicker-widget table th.prev {
	float: left;
}

.bootstrap-datetimepicker-widget table td.next, .bootstrap-datetimepicker-widget table th.next {
	float: right;
}

.bootstrap-datetimepicker-widget table td.active.today::before {
	border-bottom-color: none!important;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
	color: #e91e63;
	font-size: 22px;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: none !important;
    text-decoration: none;
}

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
	background: none !important;
	text-decoration: none;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
    padding-bottom: 30px;
}

.dow {
	text-align: left !important;
	font-size: 14px;
}

.bootstrap-datetimepicker-widget table tr td.day:after{
	/*content:"";*/
	display: block;
	position: absolute;
	top: 65%;
	left: 12%;
	height: 15px;
	width: 15px;
	text-align:center;
	border-radius: 360px;
	background-color: #e91e63;
	color:white;
	font-size:9px;
	font-weight: bold;
	line-height: 1;
	padding-top: 3px;
}

.bootstrap-datetimepicker-widget table tr:last-of-type td.day {
	border-bottom: none;
}

.bootstrap-datetimepicker-widget table tr td.day:last-of-type {
	border-right: none;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
	color: #bdbdbd !important;
}

.bootstrap-datetimepicker-widget table td.active{
	background-color: #337ab7;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
	color: initial !important;
	text-shadow: none !important;
}
.client-list-button .caret {
    margin-left: 116px;
}
.new-task-window {
    border: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
	padding: 0;
}
.new-task-window .button-submit {
    padding: 7px 0;
    width: 100%;
}
.button-submit {
    padding: 6px 0;
    margin: 30px 0 5px 0;
}
.info-section .addsupervisor{
    border: none;
    background: none;
    text-align: right;
    bottom: 8px;
    padding-bottom: 2px !important;
    top: inherit !important;
    float: right;
    font-weight: bold
}
.modal.create_client .modal-footer button[type="submit"] {
    background: #ff9700;
    border-radius: 360px;
    padding: 10px 20px;
    border: none;
}
 .button_secondary{
  border: none;
  background: none;
  box-shadow: none;
  color: #d2d2d2;
 }
.buttons{
	padding:30px 0 5px 0;
}

.task-info {
	float: left;
}
.task-icons {
	float: right;
}
.task-info .time {
	font-family: 'montserrat-light' !important;
	min-width: 40px;
}
.subtask {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 70px;
}

.button_secondary {
    margin-left: 43px;
}

.task .subtasks .step_preferences .ion-android-settings {
    line-height: 44px;
}
